# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python logs
*.log

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
